{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block content %}
<div class="col-12">
    <h2>Suppliers</h2>
    <table class="table table-striped">
        <thead>
            <th scope="col"> Name </th>
            <th scope="col"> City </th>
            <th scope="col"> Country </th>
        </thead>
        <tbody>
            {% for s in suppliers %}
            <tr>
                <td> {{ s.name }} </td>
                <td> {{ s.city }} </td>
                <td> {{ s.country }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}