{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block content %}
<div class="col-12">
    <h2>Suppliers</h2>
    <a href="{% url 'add_bottle' %}" class="btn btn-primary mb-3">Add Water Bottle</a>
    <a href="{% url 'manage_account' 1 %}" class="btn btn-warning">Manage Account</a>
    <a href="{% url 'login' %}" class='btn btn-danger'>Logout</a>
    <table class="table table-striped">
        <thead>
            <th scope="col"> Name </th>
            <th scope="col"> City </th>
            <th scope="col"> Country </th>
        </thead>
        <tbody>
            {% for s in suppliers %}
            <tr>
                <td> <a href="{% url 'view_bottles' s.id %}"> {{ s.name }} </a> </td>
                <td> {{ s.city }} </td>
                <td> {{ s.country }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}