{% load static %}

<html>
    <head>
        <title>My Inventory System</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-dark bg-custom mb-3 sticky-top" style="background-color: #590404;">
            <div class="container-fluid">
                <a class="navbar-brand mb-0" href="{% url 'view_supplier' %}">My Inventory System</span> </a>
                <a href="" style="color:white"><i class="material-icons">add</i></a>

            </div>

        </nav>

        <div class="container flex-grow-1">
            <div class="row">

                {% block content %}
                {% endblock %}

            </div>
        </div>

    </body>
</html>